@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Tilt+Neon&display=swap');

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Tilt Neon', cursive;
}

// Scrollbar Styles

::-webkit-scrollbar {
    width: 10px;
}

// Track
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

// Handled
::-webkit-scrollbar-thumb {
    background: #888;
}

// Handle on Hover
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// .block-container {
//     display: grid;
//     grid-template-columns: repeat(12, minmax(0, 1fr));
//     gap: 20px;
// }

// // Containers styles
// .block {

//     background-color: #333;
//     webkit-box-shadow: 3px 8px 29px -11px rgba(17,17,26,1);
//     -moz-box-shadow: 3px 8px 29px -11px rgba(17,17,26,1);
//     box-shadow: 3px 8px 29px -11px rgba(17,17,26,1);
// }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button.active {
    background-color: #3e4644 !important;
    border: 1px solid #3e4644 !important;
}